<div class="flex flex-col min-h-full">
    
        <nav class="flex bg-white pb-2">
            
            <div class="flex mx-auto items-center justify-between">
                <img src="../../../assets/nonplanar.png" width="48px" height="48px"/>
                <!-- Navigation links -->
                <div class="!visible hidden grow basis-[100%] items-center text-center lg:flex lg:basis-auto lg:text-left" >
                    <div class="block lg:hidden">
                        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                        
                        </button>
                    </div>
                    <ul class="me-auto flex flex-col lg:flex-row">
                        <app-navitem *ngFor="let item of navRoutes; index as i;" [itemTitle]="item.title" [itemRoute]="item.route"></app-navitem>
                    </ul>
                </div>
            </div>

        </nav>
    <div class="overflow-auto">
        <router-outlet></router-outlet>
        

        <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#!" class="hover:underline">Nonplanar</a>. All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
            </div>
        </footer>

    </div>
    
</div>